fastapi==0.115.0
uvicorn[standard]==0.30.6
websockets==12.0
google-generativeai==0.8.3
firebase-admin==6.5.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic-core==2.23.4
requests==2.32.3
python-dotenv==1.0.1
python-multipart==0.0.12
google-genai==1.10.0
